<style>
    
</style>
<section class="container" [ngStyle]="{'color':color,'background-color':fondo}">
    <h3>Elige tu estilo</h3>

    <form action="">
        <h5>Color</h5>

        <div>
            <p>Texto </p>
            <div [(colorPicker)]="color" [style.background]="color" class="circle"></div>
        </div>
        <div>
            <p>Fondo </p>
            <div [(colorPicker)]="fondo" [style.background]="fondo" class="circle"></div>
        </div>

        <h5>Botones </h5>

        <div>
            <p>Texto</p>
            <div [(colorPicker)]="botonesTxt" [style.background]="botonesTxt" class="circle" ></div>
        </div>   
        <div>
            <p>Fondo</p>
            <div [(colorPicker)]="botonesFondo" [style.background]="botonesFondo" class="circle"></div>
        </div>
        <div>
            <p>Borde</p>
            <div [(colorPicker)]="botonesBorde" [style.background]="botonesBorde" class="circle"></div>
        </div>

        <button [ngStyle]="{'color':botonesTxt,'background-color':botonesFondo,'border':'1px solid' + botonesBorde}">Guargar</button>

        <h5>Fuente </h5>

        <div [(fontPicker)]="font" [fpWidth]="'320px'" [fpPosition]="'bottom'">
            Seleccione una fuente
        </div>

    </form>
    
</section>


