h3,h5{
    text-align: center;
}

form{

    input {
        border-radius: 20px;
        position: relative;
        width: 10px;
    }
    div {
        margin: 15px 0;
    }

    button {
        width: 100%;
        border-radius: 10px;
        height: 42px;
    }
}