<!-- some.component.html -->
<section class="container qr">
    <h3>Escanea el código QR</h3>

</section>
<zxing-scanner  (scanSuccess)="onCodeResult($event)" [formats]="['QR_CODE', 'EAN_13', 'CODE_128', 'DATA_MATRIX']">

</zxing-scanner>
<div class="img"></div>
<p *ngIf="messageErroLogin">UPS! Algo salió mal, intenta denuevo. </p>
<section class="results" *ngIf="qrResultString">
    <h5 *ngIf="showMessage">{{message}}</h5>
    <section>
        <div>
        <small>Result</small>
        <strong>{{ qrResultString }}</strong>
        </div>
        <button mat-icon-button (click)="clearResult()">Reset</button>
    </section>
</section>
