<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item ">
                <a class="nav-link " (click)="gotoPage('','estetica')" >Estética</a>
            </li> 
            <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menú
                </a>
                <div class="dropdown-menu sub-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" (click)="gotoPage('','menu')">Categoría</a>
                    <a class="dropdown-item" (click)="gotoPage('','listaplatos')">Platos</a>
                </div>
            </li>
            <li class="nav-item ">
                <a class="nav-link "  (click)="gotoPage('','promos')">Promos</a>
            </li> 
            <li class="nav-item ">
                <a class="nav-link "  (click)="gotoPage('','general')">General</a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto ">
                <li class="nav-item dropdown  hide-mobile">

                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        imagen usuario
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item"(click)="gotoPage('','perfil')">Perfil</a>
                        <div class="dropdown-divider"></div>
                        <a  class="dropdown-item" (click)="gotoPage('','login')"> salir</a>
                    </div>
                </li>

            </ul>
        </form>
    </div>
</nav>

