nav {
    padding: 4px 8px;
}

.box-perfil {
    text-align: center;

    img {
        margin-top: 20px;
    }

    .box-input{
        margin-top: 50px;
    }
}

.dropdown-menu {
    left: -105px !important;
    top: 70px !important;
    width: 200px;
}

.position-tab {
    position: fixed;
    bottom:0;
    background-color: white;
}

.navbar-collapse {
    .sub-menu{
        left: 0 !important;
        top: 56px !important;
    }
    li {
        cursor: pointer;
        padding:  0;

    }
}

.body-profile {
    padding-top: 95px;
    padding-bottom: 70px;

    ul {
        margin: auto;
        width: 100%;
        /* padding: 0; */
        /* margin: 0; */
        text-align: center;
        left: 0;
        right: 0;

        li {
            width: 100%;
        }
    }

}

.img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 31px;
    width: 100px;
    cursor: pointer;
    border-radius: 6px;
}

.logo {
    background-image: url('../../assets/logo.png');

}
.user-logo{
    padding: 0;

    .imagen-bar {
        background-image: url('../../assets/antares.jpg');
        height: 60px !important;
        width: 60px !important;
        border-radius: 50%;
        display: inline-block;
    }
}


@media (max-width: 700px) { 
    .padding-mobile {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    select {
        width: 100%;
    }

    select {
        margin-left: 0px;
    }

 
}

@media (max-width: 990px) { 
    .show-mobile {display: inline-block;}
    .hide-mobile {display: none;}
}

