.modal-content{
    z-index:99999999999999999999999 ;
}

.modal-content {
    max-width:400px ;
    width: 100%;
    text-align: center;
    margin-top: 15%;

    .modal-footer {
        text-align: center;
        button {
            margin: auto !important;
            max-width: 200px;
            width: 100%;
            margin: 0 10px;
        }
    }
}

.agregar {
    text-align: center !important;
    margin-top: 20%;

    h4{
        margin: auto;
    }

    button {
        width: 45% !important;
        display: inline-block !important;
    }
}

.message-warning{
    svg {
        color:#d4d400
    }
    span {
        position: relative;
        top: 2px;
        left: 10px;
    }
}

@media (max-width: 700px) { 
    .agregar{
        margin-top: 40%;
    }
}