.modal-content{
    z-index:99999999999999999999999 ;
}

.modal-content {
    max-width:400px ;
    width: 100%;
    text-align: center;
    margin-top: 15%;

    .modal-footer {
        text-align: center;
        button {
            margin: auto !important;
            max-width: 200px;
            width: 100%;
            margin: 0 10px;
        }
    }
}

.agregar {
    text-align: center !important;
    margin-top: 20%;

    h4{
        margin: auto;
    }

    button {
        width: 45% !important;
        display: inline-block !important;
    }
}

.btn-token {
    margin-bottom: 20px;
}

.message-warning{
    svg {
        color:#d4d400
    }
    span {
        position: relative;
        top: 2px;
        left: 10px;
    }
}

#button-ok{
    width: 100% !important;
    margin-bottom: 20px ;
    height: 35px;
    padding: 0;
}
.btn-box {
    margin: 0;
    padding: 0;
    padding-top: 17px;

    .ml{
        margin-left: 0px !important;
        width: 100% !important;
        max-width: 100% !important;
    }
    .mr{
        margin-right: 0px !important;
    }

    .volver {
        text-align: center;
        width: 100%;
        margin-top: 16px;
        cursor: pointer;
        color: orange;
    }
}

.heigth-type-pedido {
    height: 286px!important;
    h4 {
        font-size: 1em;
    }
    input {
        width: 100%;
    }
}

.cerrar-mesa {
    .volver {
        margin-top: 24px;
    }
    h4{
        font-size: 1em;
        color: gray;
    }

}

.top {
    margin-top:40%;
}

.modal-content {
    z-index: 999999999999999999999999999999999999999999999999999999999999999999999999 !important;
}

@media (max-width: 700px) { 
    .agregar{
        margin-top: 60%;
    }
    .top {
        margin-top:50%;
    }
}