<div class="container">
    <header class="scroll">
        <div class="img imagen-bar"></div>
    </header>
    
    <section class="animate__animated animate__backInUp">
        <h3 *ngIf="confimarPedido">Mí pedido</h3>
        <div class="tab-content" id="myTabContent" >
            <div class="tab-pane fade show active" *ngFor="let plato of getPlatosData; let i = index"   [id]='i' role="tabpanel" aria-labelledby="home-tab">


                <div class="box-content-platos">
    
                    <div class="row" > 
                        <div class="col-12 col-md-4 imagen-plato-mobile is-mobile">
                            <button type="button" class="close button-nostyle delete" (click)="removePedido(plato,i)" aria-label="Close" [disabled]="desabilitarCambio">
                                <span aria-hidden="true">&times;</span>
                              </button>
                              <div class="img "   [style.background-image]="'url(' +  'data:'+ plato.mimetype+';base64,' + plato.base64 + ')'">  </div> 
                        </div>
                        <div class="col-12 col-md-8">
                            <h5  class="name">{{plato.nombre}}</h5>
                            <p>{{plato.descripcion}}</p> 
                            
                            <div class="row">
                                
                                <div class="col-6 col-md-9">
                                    <div   *ngFor="let tipoComida of plato.tipoComida" class="icono-content " [ngClass]="{'vegano': tipoComida.item_id == 1, 'vegetariano': tipoComida.item_id == 3, 'sintacc': tipoComida.item_id == 2 }"  ></div>
                                 </div>

                                <div class="col-6 col-md-3 precio"><span *ngIf="plato.cantidadMismoPlato.length > 1">(x{{plato.cantidadMismoPlato.length}})</span> $ {{plato.precioPlatoGrande != '0' ? plato.precioPlatoGrande :  (plato.precioPlatoMediano != '0' ? plato.precioPlatoMediano : plato.precioPlatoChico) }}</div>
                            </div>
    
                        </div>
                        <div class="col-12 col-md-4 imagen-plato is-descktop">
                            <button type="button" class="close button-nostyle delete" (click)="removePedido(plato,i)" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                              <div class="img "   [style.background-image]="'url(' +  'data:'+ plato.mimetype+';base64,' + plato.base64 + ')'">  </div> 
                        </div>
                    </div>
                    <div class="collapse option-box" id="a{{i}}"  *ngIf="!desabilitarCambio" >
                        <form action=""  novalidate autocomplete="off">
                            <div class="row opciones-plato" *ngFor="let opciones of plato.cantidadMismoPlato; let x = index">
                                <div class="col-12 col-md-7">
                                    <div class="row">
                                        <div class="col-12 col-md-5 padding-mobile unidad">
                                            <div *ngIf="plato.cantidadMismoPlato[x] == 1 ">
                                                <span>Unidades</span>
                                                <i class="fa fa-minus-circle" (click)="popMismoPlato(i,x,plato)"  aria-hidden="true"></i>
                                                {{plato.cantidadMismoPlato[x]}}
                                                <i class="fa fa-plus-circle" (click)="addMismoPlato(i,x,plato)"  aria-hidden="true"></i>
                                            </div>
                                            <div *ngIf="plato.cantidadMismoPlato[x] >= 2 ">
                                                <p>Plato  {{plato.cantidadMismoPlato[x]}}</p>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-7">
                                            <span>Tamaño</span>
                                            <select  id="size{{i}}{{x}}"  #size class="custom-select mr-sm-2" name=""  (change)='onOptionsSelectedSize(size.value)' >
                                                <option *ngIf="plato.precioPlatoGrande != '0'" value="grande">Grande $ {{plato.precioPlatoGrande}}</option>
                                                <option *ngIf="plato.precioPlatoMediano != '0'"  value="mediano">Mediano $ {{plato.precioPlatoMediano}}</option>
                                                <option *ngIf="plato.precioPlatoChico != '0'"  value="chico">Chico $ {{plato.precioPlatoChico}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class=" info-extra">
                                        <span>¿Queres aclarar algo?</span>
                                        <textarea name="" id="detalle{{i}}{{x}}" cols="30" rows="2" maxlength="100"></textarea>
                                    </div>
                                </div>
                                <div class="col-12 col-md-5 padding-mobile"  >
                                    <h5>Lo quiero sin:</h5>
                                    <div class="row">
                                        <div class="col-12 col-md-6 checkbox" *ngFor="let ingredientes of plato.tags; let j = index">
                                            <input type="checkbox" id="sin-ingredientes{{i}}{{x}}{{j}}" [value]="ingredientes.name"><span>{{ingredientes.name}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="opciones-colapse " data-toggle="collapse" [attr.href]="'#'+'a'+i" role="button" aria-expanded="false" [attr.aria-controls]="'a'+i" (click)="getNameOpciones(opciones)" *ngIf="!desabilitarCambio" ><a >Opciones</a></div>

                </div>

            </div>
        </div>

        <section  *ngIf="confimarPedido">
            <article>
                <div class="row">
                    <div class="col-12 col-md-6 col-xs-12"></div>
                    <div class="col-12 col-md-6 col-xs-12">
                        <div class="confimacion-pedido">
                            <span>Subtotal: </span> <strong>${{totalPrecio}}</strong> <br>
                            <div class="line"></div>
                            <span>Total:   </span> <strong class="total">${{totalPrecio}}</strong> 

                            <p class="warning">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-exclamation-triangle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M7.938 2.016a.146.146 0 0 0-.054.057L1.027 13.74a.176.176 0 0 0-.002.183c.016.03.037.05.054.06.015.01.034.017.066.017h13.713a.12.12 0 0 0 .066-.017.163.163 0 0 0 .055-.06.176.176 0 0 0-.003-.183L8.12 2.073a.146.146 0 0 0-.054-.057A.13.13 0 0 0 8.002 2a.13.13 0 0 0-.064.016zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
                                    <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
                                  </svg>
                                
                                Todos los valores de pago van al restorante</p>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </section>

    <div class="row btn-box" *ngIf="!confimarPedido">
        <div class="col-12 col-md-6"></div>
        <div class="col-6 col-md-3"><button (click)="setPedido()">Pedido ({{unidades == 0 ? 1 : unidades}}) ${{totalPrecio}}</button></div>
        <div class="col-6 col-md-3"><button (click)="gotoPage('','categoria')">Agregar más</button></div>
    </div>

    <div class="row btn-box" *ngIf="confimarPedido">
        <div class="col-12 col-md-6"></div>
        <div class="col-6 col-md-3"><button (click)="confirmarPedido()">Confirmar Pedido</button></div>
        <div class="col-6 col-md-3"><button (click)="cancelarCompra()">Volver</button></div>
    </div>

        
</div>





