header {
    text-align: center;
   .img {
       background-position: center;
       background-size: cover;
       background-repeat: no-repeat;
       cursor: pointer;
   }
   .imagen-bar {
       background-image: url('../../assets/antares.jpg');
       height: 150px !important;
       width: 300px !important;
       border-radius: 50%;
       display: inline-block;
       margin: auto;
   }
}

.nav-tabs {
    overflow-x: auto;
    overflow-y:hidden;
    flex-wrap: nowrap;
 }
 .nav-tabs .nav-link {
   white-space: nowrap;
 }

 h3{
     text-align: center;
     padding: 10px;
 }

 .imagen-plato{
    padding-right: 11px;
    .img {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        cursor: pointer;
    }
 }

 .imagen-plato-mobile{
    padding-right: 11px;
    min-height: 160px;
    .img {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        cursor: pointer;
    }
 }


.icono-content{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 30px !important;
    width: 32px;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    border: 1px solid #e4e4e4;
    border-radius: 56%;
}

.box-content-platos{
    padding: 0 3px;
    margin-top: 20px;
    cursor: pointer;
    -webkit-box-shadow: 50px 31px 38px -22px #e6e6e6;
    -moz-box-shadow: 50px 31px 38px -22px #e6e6e6;
    box-shadow: 50px 31px 38px -22px #e6e6e6;
    border: 1px solid white;
    &:hover{
        -webkit-box-shadow: 50px 31px 38px -22px #ffe7e5;
        -moz-box-shadow: 50px 31px 38px -22px #ffe7e5;
        box-shadow: 50px 31px 38px -22px #ffe7e5;
    }

    #collapseExample{
        select{
            width: 60%;
        }

        .unidad {
            padding-top: 6px;
            font-size: 1em;
            border-right: 1px solid gray;
        }

        .checkbox {
            span {
                position: relative;
                left: 20px;
                top: -6px;
            }
        }


    }

    .opciones-colapse {
        text-align: center;
        color: #0abbbb;
        padding: 10px;
        margin-top: 10px;
        border-top: 1px solid #d2d2d2;
    }

    .precio {
        text-align: right;
        color: #009e00;
    }

    .info-extra {
        margin-top: 20px;
        position: relative;
        span {
            position: absolute;
            z-index: 99;
            left: 15px;
            top: -13px;
            background-color: white;
        }
        textarea{
            width: 100%;
            border-radius: 10px;
            border: 1px solid #e2e2e2;
        }
    }
}

.vegan {
    background-image:url('../../assets/seliaco.png');
}

form{
    margin-top: 30px;
}
i{
    padding: 0 20px;
    cursor: pointer;
}

select{
    margin-left: 10px;
    width: 80%;

}



h4{
    margin-top: 20px;
}

button {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #dc8123;
    color: #dc8123;
    margin-top: 25px;
}

.box-unidades{
    margin:  25px 0;
}

.is-mobile{display: none;}
.is-descktop{display: inline-block;}

@media (max-width: 700px) { 
    .is-mobile{display: inline-block ;}
    .is-descktop{display: none;}
    .padding-mobile {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    select {
        width: 100%;
    }

    select {
        margin-left: 0px;
    }


    #collapseExample{
        select{
            width: 100% !important;
        }

        .unidad {
            padding-top: 6px;
            font-size: 1.5em !important;
            border-right: none ;
        }
    }

}