<div class="">
    <section *ngIf="seccion == 'listCategoria'">
        <h3>Menú</h3>
        <ul >
            <li *ngFor="let categoria of getCategoria" (click)="agregarPlato('listaPlatos',categoria)">
                <div class="row">
                    <div class="col-10 col-md-10">
                        {{categoria.nombre}}
                    </div>
                    <div class="col-2 col-md-2 arrow">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </div>
                </div>
            </li>
    
            <button type="button" class="btn btn-info btn-circle" (click)="agregarCategoria()"><i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </ul>
    
    
    
    </section>
    
    <section  class="listaPlatos" *ngIf="seccion == 'listaPlatos'">
        <h3>{{utils.getData().categoria || ''}}</h3>
        <p class="message" *ngIf="getPlatosData.platos == []">¡Aún no tenes <br> platos!</p>
    
        <section class="animate__animated animate__backInUp" *ngIf="getPlatosData.platos != []">
            
            <div class="tab-content" id="myTabContent">

                <div class="tab-pane fade show active" *ngFor="let plato of getPlatosData.platos; let i = index"   [id]='i' role="tabpanel" aria-labelledby="home-tab">
                    


                    <div class="box-content-platos">
                        <div class="icon">
                            <svg class="edit" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                                <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
                              </svg>
                            <svg class="delete" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                              </svg>
                        </div>
                        <div class="row"> 
                            <div class="col-8 col-md-6">
                                <h5>{{plato.nombre}}</h5>
                                <p class="descripcion">{{plato.descripcion}}</p> 
                                
                                <div class="row">
                                    
                                    <div class="col-8 col-md-8 iconTipo">
                                        <div class="icono-content" [ngStyle]="{'background-image':'url(https://w7.pngwing.com/pngs/741/294/png-transparent-veggie-burger-animal-product-veganism-vegetarianism-computer-icons-veg-symbol-leaf-logo-nutrition.png)'}"></div>
                                        <div class="icono-content" [ngStyle]="{'background-image':'url(https://img2.freepng.es/20190519/sww/kisspng-gluten-free-diet-gluten-free-food-celiac-disease-nutrition-speeches-presentations-nutritional-s-5ce0f87e999a17.0162714315582475506292.jpg)'}"></div>
                                    </div>
    
                                    <div class="col-4 col-md-4 precio">$ {{plato.precio}}</div>
                                </div>
        
                            </div>
                            <div class="col-4 col-md-6">
                                <div class="img"  [ngStyle]="{'background-image':'url(https://www.comedera.com/wp-content/uploads/2014/08/IMG_4792111111.jpg)'}" ></div>
                            </div>
        
                        </div>
                    </div>
                    
                </div>
            </div>

        </section>
    
        <button type="button" class="btn btn-info btn-circle" (click)="agregarPlatos()"><i class="fa fa-plus" aria-hidden="true"></i> </button>
        <button type="button" class="btn btn-info btn-circleback" (click)="procesaGoBack('listCategoria')"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-bar-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M5.854 4.646a.5.5 0 0 0-.708 0l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L3.207 8l2.647-2.646a.5.5 0 0 0 0-.708z"/>
            <path fill-rule="evenodd" d="M10 8a.5.5 0 0 0-.5-.5H3a.5.5 0 0 0 0 1h6.5A.5.5 0 0 0 10 8zm2.5 6a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 1 0v11a.5.5 0 0 1-.5.5z"/>
          </svg> </button>
     
    </section>

    
    <section *ngIf="seccion == 'altaPlatos'">
        <app-alta-platos (goBack)="procesaGoBack($event)"></app-alta-platos>

    </section>
</div>
