<app-navbar></app-navbar>
<section class="top-navbar">
    <form class="form-login  no-padding-button box-plato"  [formGroup]="altaPlatosForm" action="">
        <h3>Plato</h3>

        <img id="image" src="http://via.placeholder.com/150x150" style="border-radius:50%" (click)="upload()"/>
        <input type="file" id="myfile" style="display: none;">

        <div class="input-wrapper">
            <input type="text"   formControlName="nombrePlato" name="nombrePlato" id="nombrePlato" autofocus  required >
            <label class="label" for="nombrePlato">Nombre </label>
        </div>

        <div class="input-wrapper">
            <input type="text"   formControlName="descripcionPlato" name="descripcionPlato" id="descripcionPlato" autofocus  required >
            <label class="label" for="descripcionPlato">Descripcion </label>
        </div>

        <h5>Tamaños</h5>

        <div class=" row ">
             <div class="col-4 col-md-4">
                <p>Chico</p>
                <input type="checkbox"  >
             </div>
             <div class="col-4 col-md-4">
                <p>Mediano</p>
                <input type="checkbox"  >
             </div>
             <div class="col-4 col-md-4">
                <p>Grande</p>
                <input type="checkbox"  >
             </div>
        </div>

        <h5>Ingredientes</h5>
        <ul>
            <li *ngFor="let ingrediente of listIngredientes">
                <input type="checkbox"  > {{ingrediente.nombre}}
            </li>
        </ul>

        <select class="browser-default custom-select">
            <option selected>Tipo de Comida</option>
            <option value="1">Vegano</option>
            <option value="2">Celiaco</option>
            <option value="3">Sin tacc</option>
        </select>

        <div class="input-wrapper">
            <input type="text"   formControlName="precioPlato" name="precioPlato" id="precioPlato" autofocus  required >
            <label class="label" for="precioPlato">Precio $ </label>
        </div>

        <div class="row">
            <div class="col-6 col-md-6"><button class="button1" (click)="gotoPage('','listaplatos')">Cancelar</button></div>
            <div class="col-6 col-md-6"><button class="button1" (click)="agregarPlato()">Agregar</button></div>
        </div>
    </form>

</section>
