/* You can add global styles to this file, and also import other style files */
@import '~ngx-tab-scroll/tab-scroll-theme-bootstrap';
@import '~ngx-tab-scroll/tab-scroll-icons';
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
/*h1,h2,h3,h4,h5,p,span,a,button{
    font-family: 'Roboto', sans-serif;
}*/

.input-wrapper{
    position:relative;
    line-height:14px;
    margin:0 10px;
    display:inline-block;
}

.top-navbar{
    padding-top: 85px !important;
}  

.button1 {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #dc8123;
    color: #dc8123;
    &:hover{
        border: 1px solid white;
        color: white;
        background-color: orange;
    }
}
.disabled {
    background-color: #d4d4d4c9;
    color: white;
    border: 1px solid #d4d4d4c9;
    &:hover{
        background-color: #d4d4d4c9;
        color: white;
        border: 1px solid #d4d4d4c9;
    }
}

.label{
    color:#bbb ;
    font-size:11px;
    text-transform:uppercase;
    position:absolute;
    z-index:2;
    left:20px;
    top:14px;
    padding:0 2px;
    pointer-events:none;
    background:white;
    transition:transform 100ms ease;
    transform:translateY(-20px);
}


input {
    font-size:13px;
    color:#555;
    outline:none;
    border:1px solid #bbb;
    padding:10px 20px;
    border-radius:20px;
    position:relative;

    &:invalid + label{
        transform:translateY(0);
    }
        
    &:focus{
        border-color:#2b96f1;
        & + label{
            color:#2b96f1;
            transform:translateY(-20px);
        }
    }

}

textarea {
	display: block;
	width: 100%;
	border: 0;
	padding: 10px 5px;
    background: white no-repeat;
	
	/*
	* IMPORTANT PART HERE
	*/
	
  /* 2 imgs : 1px gray line (normal state) AND 2px green line (focus state) */
	background-image: linear-gradient(to bottom, #1abc9c, #1abc9c), linear-gradient(to bottom, silver, silver);
	/* sizes for the 2 images (default state) */
	background-size: 0 2px, 100% 1px;
	/* positions for the 2 images. Change both "50%" to "0%" or "100%" and tri again */
	background-position: 50% 100%, 50% 100%;

	/* animation solely on background-size */
  transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);

}

textarea:focus{
  /* sizes for the 2 images (focus state) */
	background-size: 100% 2px, 100% 1px;
	outline: none;
}



//check mobile

input[type="checkbox"] {
    position:relative;
    width:40px;
    height:20px;
    visibility:hidden;
    
    &:before {
      visibility:visible;
      position:absolute;
      display:block;
      width:100%;
      height: 20px;
      top:0;
      background:#fff;
      content: '';
      border-radius:10px;
      border:solid 1px #ddd;
      transition:all .5s;
    }
    
    &:after {
      visibility:visible;
      top:0;
      display:block;
      content:'';
      width:20px;
      height:20px;
      background:#fff;
      position:absolute;
      border-radius:50%;
      border:solid 1px #ddd;
      transition:all .5s;
      left:0;
    }
    
    &:checked:after {
      left:100%;
      margin-left:-20px;
    }
    
    &:checked:before {
      background:#2ecc71;
    }
    
    &.square {
      width:60px;
      &:before {
        border-radius:2px;
      }
      &:after {
        border-radius:2px;
        width:30px;
      }
      &:checked:after {
        left:100%;
        margin-left:-30px;
      }
      &:checked:before {
        background:#3498db;
      }
    }
  }
 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.nav-tabs {
    overflow-x: auto;
    overflow-y:hidden;
    flex-wrap: nowrap;

    .active{
        border-bottom: 4px solid orange !important;
    }
 }



