
<header class="container " ><a class="login " (click)="gotoPage('','login')" >¿Sos un restaurante?</a> </header>
<section class="container home">
    <h1 class="animate__animated animate__bounce">Resto</h1>
    <form action="" #form="ngForm" autocomplete="off">
        <div class="input-wrapper">
            <input type="number" [disabled]="loading" [value]="fieldvalue" [(ngModel)]="user.codigo" max="3" (keyup)="keyPress($event.target.value)"  name="code" id="user" (focus)="showCookies()"  (blur)="hideCookies()"  required >
            <label class="label" for="user">Codigo </label>
            <div class="spinner-border spinner-login" *ngIf="loading" role="status">  </div>
            <i class="fa fa-qrcode" aria-hidden="true" (click)="gotoPage('','scanner')"></i>
        </div>
        <div *ngIf="messageErroLogin" class="message-error animate__animated animate__fadeInUp">Ups! algo salío mal, intente nuevamente.</div>
    </form>

    <span id="siteseal"><script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=fYFYDhMli9Ipck2Eu0JIvt5oomW8vx96KC6lO06dYUmyeKA6UMfV0c6lfDFz"></script></span>

</section>


<footer *ngIf="boxCookies">
    <div *ngIf="!cookies">
        <h5 >Poítica de cookies</h5>
        <div class="row">
            <div class="col-12 col-md-10"><p>Resto Utiliza cookies para optimizar su experiencia de usuario, medir el rendimiento del sitio y hacer anuncios.Al navegar por el sitio. acepta el uso de estas cookies. consulte nuestras <a href="">politica de cookies</a> para obtener más información o <a href="">cambio su configuración de cookies.</a> </p></div>
            <div class="col-12 col-md-2"><button class="button1" (click)="aceptarCookies()">ACEPTAR</button></div>
        </div>
    </div>

    <ul>
        <li><a href=""> Publicidad</a></li>
        <li><a href="">Sobre nosotros</a></li>
        <li><a href="">Privacidad</a></li>
        <li><a href="">Condiciones</a></li>

    </ul>
    <span id="siteseal"><script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=fYFYDhMli9Ipck2Eu0JIvt5oomW8vx96KC6lO06dYUmyeKA6UMfV0c6lfDFz"></script></span>
    <div></div>
</footer>