 header {
    position: fixed;
    height: 151px;
    width: 100%;
    background-color: white;
    z-index: 1111111;
    top: 0;
    right: 0;
    left: 0;
    padding-left: 7%;
    padding-right: 7%;
     text-align: center;
     .img {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
   }
   .imagen-bar {
       background-image: url('../../assets/restaurante.png');
       height: 100px !important;
       width: 200px !important;
       border-radius: 50%;
       display: inline-block;
       margin: auto;
   }

 }

 .messagePedido {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #00c2c76b;
    color: white;
    padding-top: 8px;
 }
 
 .nav-tabs {
    overflow-x: auto;
    overflow-y:hidden;
    flex-wrap: nowrap;

    .active{
        border-bottom: 4px solid orange;
    }
 }

 .is-mobile{display: none;}
 .is-descktop{display: inline-block;}

 .nav-tabs .nav-link {
   white-space: nowrap;
 }

 h3{
     text-align: center;
     padding: 10px;
 }

 .imagen-plato{
    padding-right: 11px;

    .img {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        cursor: pointer;
    }
 }

 .imagen-plato-mobile{
    padding-right: 9px;
    min-height: 160px;
    .img {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        cursor: pointer;
    }
 }




.box-content-platos{
    padding: 0 3px;
    margin-top: 37px;
    cursor: pointer;
    -webkit-box-shadow: 50px 31px 38px -22px #e6e6e6;
    -moz-box-shadow: 50px 31px 38px -22px #e6e6e6;
    box-shadow: 50px 31px 38px -22px #e6e6e6;
    border: 1px solid white;
    &:hover{
        -webkit-box-shadow: 50px 31px 38px -22px #ffe7e5;
        -moz-box-shadow: 50px 31px 38px -22px #ffe7e5;
        box-shadow: 50px 31px 38px -22px #ffe7e5;
    }

    .precio {
        text-align: right;
        color: #009e00;
    }


}

.margin-top{
    margin-bottom: 20%;
    margin-top: 160px;
}



   //MENÚ
.menu-icon {
    width: 40px;
    height: 40px;
    /* background-color: black; */
    position: absolute;
    top: 50px;
    right: 98px;
    background-image: url('../../assets/menu2.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 10000000000000002000;


}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
    z-index: 999999999999999999999999999999999999999999;

    ul {
        margin: 0 !important;
        padding: 0 !important;
        font-size: 1em; 

        a {
            cursor: pointer;

            &:nth-child(1){
                text-align:right;
                font-size: 2.5em;
            }
        }
    }
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.shadow{    
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: #00000073;
    z-index: 99999999;
}
.none {
    display: none;
}


@media (max-width: 700px) { 
    .is-mobile{display: inline-block ;}
    .is-descktop{display: none;}
    header{width: 100% !important;}
    .menu-icon {
        width: 30px;
        height: 30px;
        top: 43px;
        right: 17px;
        z-index: 10000000000000002000;
    }
    header{
        padding-right: 0;
        padding-left: 0;
    }

 
}

